<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-dark bg-light">
      <h3 class="text-center mt-2 mb-4">修改支出</h3>

      <form action="/records/{{record._id}}?_method=PUT" method="post">

        <div class="mb-4">
          <div class="mb-3 input-group">
            <p>類別 <span class="text-danger">*</span></p>
            <select class="form-select mx-4" aria-label="Default select example" id="categoryName" name="categoryName"
              required>
              <option>請選擇類別</option>
              {{#each categories}}
              {{#if this.isChoosed}}
              <option selected value="{{this.name}}">{{this.name}}</option>
              {{else}}
              <option value="{{this.name}}">{{this.name}}</option>
              {{/if}}
              {{/each}}
            </select>
          </div>

          <div class="mb-3 input-group">
            <label for="name" class="form-label">名稱 <span class="text-danger">*</span></label>
            <input type="text" class="form-control mx-4" id="name" name="name" value="{{record.name}}" required />
          </div>

          <div class="mb-3 input-group">
            <label for="amount" class="form-label">金額 <span class="text-danger">*</span></label>
            <input type="text" class="form-control mx-4" id="amount" name="amount" value="{{record.amount}}" required />
          </div>

          <div class="mb-4 input-group">
            <label for="date" class="form-label">日期 <span class="text-danger">*</span></label>
            <input type="date" class="form-control mx-4" id="date" name="date" value="{{record.date}}" required />
          </div>
        </div>

        <div class="d-flex flex-row justify-content-center">
          <button type="submit" class="btn btn-outline-primary">送出</button>
        </div>

      </form>
    </div>
  </div>
</div>